.para1,
.small-para {
  color: hsl(230, 18%, 55%);
}

.para2{
  font-size:18 px;
}

.para {
  font-size: 22px;
}

.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.child {
  color: plum;
  font-size: 14px;
}

div.text {
  color:rgb(30, 27, 43);
  font-size: 22px;
}